simpletransformers==0.28.5
regex==2019.12.20
pandas==1.0.3
tokenizers==0.7.0
scipy==1.4.1
tensorboardx==2.0
numpy==1.22.0
scikit-learn==0.22.2.post1
tqdm==4.41.1
requests==2.23.0
transformers==2.9.1
seqeval==0.0.12
pytz==2018.9
python-dateutil==2.8.1
six==1.12.0
protobuf==3.10.0
joblib==0.14.1
urllib3==1.24.3
certifi==2020.4.5.1
idna==2.9
chardet==3.0.4
sentencepiece==0.1.90
sacremoses==0.0.43
filelock==3.0.12
dataclasses==0.7
Keras==2.3.1
setuptools==46.3.0
click==7.1.2
h5py==2.10.0
pyyaml==3.13
keras-preprocessing==1.1.0
keras-applications==1.0.8